.taoLichChieu_content{
    .taoLichChieuModal{
        .form_LR{
             display: flex;
            .form_Left{
                width: 100%;
                padding: 0 5px;
            }
            .form_Right{
                width: 100%;
                padding: 0 5px;
            }
        }
    }
}